/admin/node_modules
/admin/blog-admin
/admin/package-lock.json
/client/node_modules
/client/blog-client
/client/blog
/client/package-lock.json
/server/node_modules
/server/public/temp_files
/server/public/files
/server/package-lock.json

